<div class="span9">
	<%=form_tag(feeds_path) do %>
	<%=text_area :feed,:content,:rows=>5,:class=>'span12 overflow-none'%>
	<%end%>

	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#">Feeds</a>
		</li>
	</ul>
</div>

<%= render 'users/user_bar',:user=>
session[:user_id],:id=>"current_user_profile",:layout_class=>"span3"%>
