<div>
<fieldset>
	<legend>Home</legend>
	<div class="hero-unit">
		<h1>Welcome!</h1>
		<p>
			Welcome to microblog, please register if you still don't register or
		sign in to enjoy the journey.
		</p>
		<p>
			<%=link_to "Sign in >>", signin_path,:class=>"btn btn-primary" %></p>
	</div>
</fieldset>
</div>
