<li>
  <div>
    <ul class="unstyled">
      <li>
        <p class="lead">
          <%=f.content%></p>
      </li>

      <li class="text-info">
        <%=f.created_at.strftime "%Y-%m-%d %H:%M:%S"%>
        <div class="pull-right">Reforward(<%=f.forward_count %>) | Comment(<%=f.comment_count%>)</div>
      </li>
    </ul>

  </div>
  <hr>
</li>