<fieldset>
    <legend>User Searching List</legend>
</fieldset>

<div class="span11">
    <ul>
        <%if @page_users!=nil%>
        <%=render :partial=>"user",:collection=>@page_users[:users]%>

        <%end%>
    </ul>
    <%=render :partial=>"shared/page_bar",:locals=>{:page=>@page_users}%>

</div>