<fieldset>
    <legend>User Searching List</legend>
</fieldset>

<div class="span12">
    <ul>
        <%if @users!=nil%>
        <%=render :partial=>"user",:collection=>@users%>

        <%end%>
        </ul>
</div>