<fieldset>
	<legend><h2>User Searching List</h2></legend>
</fieldset>

<div class="span11">
	<ul id="users">
		<%if @page_users!=nil%>
		<%=render :partial=>
		"user",:collection=>@page_users[:users]%>
		<li class="span12">
			  <%=render :partial=>
			"shared/page_bar",:locals=>{:page=>@page_users,:url=>users_path+"?filter="+params["filter"]}%>
		</li>
		<%end%></ul>

</div>

 <% content_for :scripts do %>
  <script type="text/javascript">
  	$(document).ready(function () {
  		$('#users').find('img').each(function loadImgs () {
  			if($(this).attr('attach_id')!=0){
  				var url = "<%=asset_path 'gravatar-user-420.png'%>";
  		  		lazyLoadImg(this,url);		
  			}

  		})

  	});
  </script>
  <%end%>

