<fieldset>
    <legend>User Fans List</legend>
</fieldset>

<div class="span11" style="margin-left:0px;">
    <ul>
        <%if @fans!=nil%>
          <%=render :partial=>"fan",:collection=>@fans,:as=>:user%>
        <%end%></ul>
</div>