<fieldset>
    <legend>User Following List</legend>
</fieldset>

<div class="span12">
    <ul>
        <%if @follows!=nil%>
          <%=render :partial=>"follow",:collection=>@follows,:as=>:user%>
        <%end%></ul>
</div>