.center {
	text-align: center;
}


.right {
	text-align: right;
}

.inline-block {
	display: inline-block;
}

.content {
	margin-top: 60px;
}

.user-bar {

}
.user-bar-info {
	margin-top: 10px;
}
.user-bar-info.user-bar-info-cell {
	padding-left: 1px;
	padding-right: 1px;
}
.user-bar-info-number {
	font-weight: bolder;
}.user-bar-font {
	font-size: 12px;
}

li {
	list-style-type: none;
	margin: 2px;
}

.div-signin-content {
	margin-left: 20px;
}

.auto-heigth{
	height: auto;
}
.hidden{
	visibility: hidden;
}

.overflow-none{
	overflow:hidden;
}

.feed-item {
   padding-left: 0px;
   padding-right: 0px;
}
.feed-title{
	margin-bottom: 10px;

}

.none-margin{
	margin: 0px;
}

.none-padding{
	padding: 0px;
}

.truncate-feed-header{
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.loading{
	position: absolute;
	vertical-align: middle;
	visibility: hidden;
}

.alert-success{
	visibility: hidden;
	top:500px;
}

.inner-feed{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0px 0px 5px 0px;
  padding: 5px;
  background-color: rgba(221, 221, 221, 0.54);
  opacity: 1;
  border: 1px solid #9D9B9B;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
