

<%=content_for :content do %>
<div class="span2">
	<ul class="nav nav-list">
		<li class="nav-header">Microblog</li>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">@me</a>
		</li>
		<li>
			<a href="#">comments</a>
		</li>
		<li class="nav-header"><span>group <%=link_to "manage",groups_path%></span></li>
		<li>
			<a href="#">classmates</a>
		</li>
		<li>
			<a href="#">family</a>
		</li>
		<li></li>
	</ul>
</div>
<div class="span10">
	<%=yield %></div>
<%end%>

<%=render :template=>"layouts/application"%>

